// Primary Colors
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-grayish-blue:hsl(227, 10%, 46%);

$white: #fff;

// Neutral Colors
$dark-gray: hsl(0, 0%, 59%);
$dark-gray-line: hsl(0, 0, 91%);

// font-size
$size-regular: 1.125rem;

// font-weights
$weight-regular: 400;
$weight-bold: 700;